{% extends 'base.html' %}

{% block title %}
<title>Edit</title>
{% endblock %}

{% block body %}
<h2>Edit the Post</h2>
    <hr>
    <h2>Edit:</h2>
    <form action="/posts/edit/{{post.id}}" method="POST">
        <label for="title">Title:</label>
        <input class="form-control" type="text" name="title" id="title" value="{{post.title}}">
        <br>
        <label for="content">Post:</label>
        <textarea class="form-control" name="content" id="content" rows="3">{{post.content}}</textarea>
        <br>
        <label for="author">Author:</label>
        <input class="form-control" type="text" name="author" id="author" value="{{post.author}}">
        <br>
        <input class="btn btn-success" type="submit" value="Save">

    </form>

    <hr>

{% endblock %}