{% extends 'base.html' %}

{% block title %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<h1>Home Page</h1>
<br>
    <div class="container">
        <div class="jumbotron font-weight-light">
            <div class="container">
              <h1 class="display-3">Welcome</h1>
              <p>Welcome to UmangSolutions Blog! Our Organization was established in the year 2020 with a sole aim to encourage the holistic development of technology in the Android and IoT domains.</p>
              <p>Go Visit At Our Website <a href="https://www.umangsolutions.org/">UmangSolutions</a> To check more about our org.</p>
              <p><a class="btn btn-primary btn-lg" href="/posts" role="button">Go to Posts &raquo;</a></p>
            </div>
        </div>
    </div>
{% endblock %}